@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-themeBlack text-themeWhite font-body;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  };
  h1, h2, h3 {
    @apply font-title font-medium;
  };

}

@layer components {
  .standardContainer {
    @apply mx-auto w-full max-w-screen-xl;
    @apply px-8 md:px-20;
  };

  .glitchTitle {
    position: relative
  }
  .glitchTitle:after, .glitchTitle:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
  }
  .glitchTitle:before {
    @apply text-themeBlue;
    @apply animate-glitchLeft;
  }
  .glitchTitle:after {
    @apply text-themePink;
    @apply animate-glitchRight;
  }


}

/* fallback for the useVHOverride hook */
/* :root {
  --vh: 1vh; 
} */